<nav>
    <a href="#">Home</a>
    <a href="/employee/student">Student</a>
    <a href="#">Interview</a>
</nav>
<div>
    <h1>Student List</h1>
<table>
    <tr>
        <th>SNo .</th>
        <th>Batch</th>
        <th>StudentName</th>
        <th>Email</th>
        <th>College</th>
        <th>Status</th>
        <th>DSA_FinalScore</th>
        <th>WebD_FinalScore</th>
        <th>React_FinalScore</th>
    </tr>
    <% for( var i = 0 ; i< studentList.length ; i++ ){%>
    
        <% } %>
</table>

</div>
