<h1>form for interview</h1>
<form action="/student/interview_allocation" method="POST">
    <input id="companyName" type="text" name="companyName" placeholder="Enter Company Name"><br><br>
    <input id="date" type="date" name="date" placeholder="Enter Date Of Interview"><br><br>
    <input id="studentID" type="hidden" name="studentID" value=<%= id %>>
    <button id ="button">Submit</button>

</form>