<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/sign_in" method="POST">
        <input id= "email" type = text name="email" placeholder="Enter Email"><br><br>
        <input id= "password" type = password name="password" placeholder="Enter Password"><br><br>
        <button id="button">Submit</button>
    </form>
</body>
</html>