<nav>
    <a href="#">Home</a>
    <a href="/signup">SignUp</a>
</nav>
<h1>Sign In</h1>
<form action="/sign_in" method="POST">
    <input id="email" type=text name="email" placeholder="Enter Email"><br><br>
    <input id="password" type=password name="password" placeholder="Enter Password"><br><br>
    <button id="button">Submit</button>
</form>