<h1>Sign Up</h1>
<form action="/create_session" method="POST">
    <input id="firstname" type=text name="firstname" placeholder="Enter First Name"><br><br>
    <input id="lastname" type=text name="lastname" placeholder="Enter Last Name"><br><br>
    <input id="email" type=text name="email" placeholder="Enter The Email"><br><br>
    <input id="password" type=password name="password" placeholder="Enter The Password"><br><br>
    <button id="button">Submit</button>

</form>